body {
    background-color: #ff6666;
}

header {
    display: block;
}

#banner {
    height: 5rem;

}

#main{
    display: flex;
    align-items: inline;
}
#boxOne {
    display: flex;
    flex-direction: column-reverse;
    border: 1em solid black;
    width: 33.3%;
    height: 50rem;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    background-color: #ffcccc;
    background-image: url(towerPoleEdit.png);
    background-position: center;
    
}

#boxTwo {
    display: flex;
    flex-direction: column-reverse;
    border: 1em solid black;
    width: 33.3%;
    height: 50rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffcccc;
    border-right-width: 0em;
    border-left-width: 0em;
    background-image: url(towerPoleEdit.png);
    background-position: center;
}

#boxThree {
    display: flex;
    flex-direction: column-reverse;
    border: 1em solid black;
    width: 33.3%;
    height: 50rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffcccc;
    background-image: url(towerPoleEdit.png);
    background-position: center;
}

.discOne {
    display: flex;
    flex-direction: column;
    background-color: #ff6666;
    width: 100px;
    height: 30px;
    border: 3px solid #000000;
    
}

.discTwo {
    display: flex;
    flex-direction: row;
    background-color: #ff4d4d;
    width: 150px;
    height: 30px;
    border: 4px solid #000000;
}

.discThree {
    display: flex;
    flex-direction: row;
    background-color: #ff3333;
    width: 200px;
    height: 30px;
    border: 6px solid #000000;
}

.discFour {
    display: flex;
    flex-direction: row;
    background-color:#ff1a1a;
    width: 250px;
    height: 30px;
    border: 8px solid #000000;
}

footer {
    image-rendering: optimizeQuality;
    object-fit: contain;
}